<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDeliveryApp_Student"
        tools:targetApi="31" >
        <activity
            android:name=".AdminViewUserDetails"
            android:exported="false" />
        <activity
            android:name=".AdminDeliveryFeedback"
            android:exported="false" />
        <activity
            android:name=".AdminVendorFeedback"
            android:exported="false" />
        <activity
            android:name=".AdminReportsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardPageActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryContactus"
            android:exported="false" />
        <activity
            android:name=".DeliveryFAQ"
            android:exported="false" />
        <activity
            android:name=".SettingPageDelivery"
            android:exported="false" />
        <activity
            android:name=".Admin_ActiveDelMan"
            android:exported="false" />
        <activity
            android:name=".Delivery_OTP"
            android:exported="false" />
        <activity
            android:name=".DeliveryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AssignedDeliveriesActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryProfileActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryHomeActivity"
            android:exported="false" />
        <activity
            android:name=".EditCategoryPage"
            android:exported="false" />
        <activity
            android:name=".EditVendorPage"
            android:exported="false" />
        <activity
            android:name=".Admin_ViewOrders"
            android:exported="false" />
        <activity
            android:name=".Admin_viewProducts"
            android:exported="false" />
        <activity
            android:name=".Admin_editVendor"
            android:exported="false" />
        <activity
            android:name=".Admin_viewVendor"
            android:exported="false" />
        <activity
            android:name=".Admin_StudentFeedback"
            android:exported="false" />
        <activity
            android:name=".Admin_StudentOrderHistory"
            android:exported="false" />
        <activity
            android:name=".Admin_Setting"
            android:exported="false" />
        <activity
            android:name=".Admin_Payment"
            android:exported="false" />
        <activity
            android:name=".Admin_UpdateCategory"
            android:exported="false" />
        <activity
            android:name=".Admin_Profilepage"
            android:exported="false" />
        <activity
            android:name=".AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_DeliveryOrders"
            android:exported="false" />
        <activity
            android:name=".Admin_ViewStaffDetails"
            android:exported="false" />
        <activity
            android:name=".Admin_RegisterDeliveryMen"
            android:exported="false" />
        <activity
            android:name=".Admin_AccountDetail"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard"
            android:exported="false" />
        <activity
            android:name=".Admin_DeliveryDetails"
            android:exported="false" />
        <activity
            android:name=".Admin_VendorDetails"
            android:exported="false" />
        <activity
            android:name=".Admin_StudentDetails"
            android:exported="false" />
        <activity
            android:name=".ConfirmOrderActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentPage"
            android:exported="false" />
        <activity
            android:name=".FAQActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".Shops_Address"
            android:exported="false" />
        <activity
            android:name=".ProductEditActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryPage"
            android:exported="false" />
        <activity
            android:name=".Manage_App_permission"
            android:exported="false" />
        <activity
            android:name=".Two_Factor_Authentication"
            android:exported="false" />
        <activity
            android:name=".Help_Support_Setting"
            android:exported="false" />
        <activity
            android:name=".Privacy_Setting"
            android:exported="false" />
        <activity
            android:name=".Notification_Setting"
            android:exported="false" />
        <activity
            android:name=".Account_Setting"
            android:exported="false" />
        <activity
            android:name=".HomePageVendor"
            android:exported="false" />
        <activity
            android:name=".HomePageAdmin"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivityStudent"
            android:exported="false" />
        <activity
            android:name=".HomePage_Student"
            android:exported="false" />
        <activity
            android:name=".NevigationBottom_student"
            android:exported="false" />
        <activity
            android:name=".Student_Profile"
            android:exported="false" />
        <activity
            android:name=".OTPVerification"
            android:exported="false" />
        <activity
            android:name=".RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>